* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: Arial, sans-serif;
  background: #425776;
  justify-content: center;

}

.container {
  margin-top: 300px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
}

.container h2 {
  text-align: center;
  color: #333;
}

.container button {
  width: 92%;
  padding: 10px;
  background: #5d6583;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.container button:hover {
  background: #4e5fa2;
  cursor: pointer;
}

.container input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container hr {
  margin: 30px 0;
}


#BarraCima {
  width: 100%;
  background-color: black;
  height: 120px;
  position: fixed;

}

#BarraCima img {
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

#BarraCima a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -200px;
}

#BarraCima button {
  background-color: #222222;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  padding: 15px;
  margin-left: 1100px;
  margin-top: -100px;
}

#BarraCima button:hover {
  background-color: #53545b;
  transition: 0.5s;
}

#links {
  background-color: white;
  padding: 50px;
  height: 70px;
  margin-left: -100px;
  width: 100%;

}

#links a {
  color: black;
  display: inline-block;
  margin-top: 80px;
  margin-right: 100px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}

#links a:hover {
  color: #005b8e;
  transition: 0.3s;
}

#links hr {
  background-color: #d9d9d9;
  height: 1px;
  margin-top: 10px;
  width: 2050px;
  margin-left: -100px;

}

#rodape {
  background-color: black;
  height: 300px;
  margin-top: 500px;
  color: white;
  width: 100%;

}

#rodape p {
  margin-left: 280px;
  margin-top: 60px;
}

#rodape h2 {
  margin-left: 850px;
  margin-top: 50px;
}

#rodape img {
  margin-left: 50px;
  width: 200px;
  margin-top: 100px;
}

#linksRodape {
  margin-left: 700px;
  margin-top: -100px;
}

#linksRodape a {
  padding-left: 50px;
  color: white;
  text-decoration: none;
}