* {
  margin: 0px;
  padding: 0px;

}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#BarraCima {
  width: 100%;
  background-color: black;
  height: 120px;
  position: fixed;

}

#BarraCima img {
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

#BarraCima a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -200px;
}

#BarraCima button {
  background-color: #222222;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  padding: 15px;
  margin-left: 1100px;
  margin-top: -100px;
}

#BarraCima button:hover {
  background-color: #53545b;
  transition: 0.5s;
}

#links {
  background-color: white;
  padding: 50px;
}

#links a {
  color: black;
  display: inline-block;
  margin-top: 80px;
  margin-right: 100px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}

#links a:hover {
  color: #005b8e;
  transition: 0.3s;
}

#links hr {
  background-color: #d9d9d9;
  height: 1px;
  margin-top: 10px;
  width: 1950px;
  margin-left: -100px;

}

#rodape {
  background-color: black;
  height: 350px;
  margin-top: 400px;
  color: white;
  padding-left: 150px;

}

#rodape p {
  margin-left: 280px;
  margin-top: 60px;
}

#rodape h2 {
  margin-left: 500px;
  margin-top: 50px;
}

#rodape img {
  margin-right: 100px;
  width: 200px;
  margin-top: 100px;
}

#linksRodape {
  margin-left: 330px;
  margin-top: -100px;
}

#linksRodape a {
  padding-left: 50px;
  color: white;
  text-decoration: none;
}

#sobre h1 {
  font-size: 60px;
  margin-left: 100px;
}

#sobre h2 {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 50px;
  width: 600px
}

#sobre button {
  border: none;
  width: 200px;
  font-size: 30px;
  padding: 15px;
  margin-left: 100px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #425776;
  color: white;
  cursor: pointer;
}

#sobre button:hover {
  background-color: #708fbd;
  transition: 0.3s;
}

.lucas img {
  margin-left: 1400px;
  width: 250px;
  margin-top: -30px;
}

.kayo img {
  margin-left: 1400px;
  width: 250px;
  margin-top: -30px;
}

.arthur img {
  margin-left: 1400px;
  width: 250px;
  margin-top: -30px;
}

#sobre h3 {
  font-size: 35px;
  margin-left: 1420px;
}

#sobre h2 {
  margin-top: 50px;
}

#sobre h1 {
  margin-top: -700px;
}